// colors
$jelly-bean: #E56353;
$white: #FFF;
$cloud: #56cbf9;
$platinum: #E8EBE4;
$gray: #BEC1BB;

// Font family
$roboto: 'roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font weight
$regular: 400;
$bold: 700;

// Font size
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 10px;
