.menu-icons__menu {
  display: flex;
  justify-content: flex-end;
}

.banner-img {
  background-image: url('../img/image-banner.png');
  width: 100%;
  height: auto;
  background-position: 0 center;
  background-size: cover;
}
