header {
  margin: 20px;
}

.menu-logo__menu {
  display: flex;

  h5 {
    font-family: $open-sans;
    font-weight: $bold;
    font-size: $x-large;
  }

  small {
    font-family: $roboto;
    font-weight: $regular;
    font-size: x-small;
  }
}

.menu-icons__menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;

  i {
    padding: 10px;
  }
}

.banner-img {
  background-image: url('../img/image-banner.png');
  width: 100%;
  height: auto;
  background-position: 0 center;
  background-size: cover;
}
