header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-logo__menu {
  display: flex;

  h3 {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $x-large;
  }

  small {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $x-small;
  }
}

.menu-icons__menu {
  display: flex;
  justify-content: flex-end;

  i {
    padding-left: 20px;
  }
}

.banner-img {
  background-image: url('../img/image-banner.png');
  width: 100%;
  height: auto;
  background-position: 0 center;
  background-size: cover;
}

@media only screen and (max-width: 375px) {
  body {
    margin: 0 auto;
    background-color: $white;
  }

  .menu-logo__menu {
    display: flex;
    margin-left: 30px;

    h3 {
      font-family: $roboto;
      font-weight: $regular;
      font-size: $x-large;
    }

    small {
      font-family: $roboto;
      font-weight: $regular;
      font-size: $x-small;
    }
  }

  .menu-icons__menu {

    i {
      margin-top: -25px,
      margin-left: 45px;
    }
  }
}
