.perfil-cover__img {
  width: 50%;
  border-radius: 50%;
  margin-left: 80px;
}

.perfil-info {

  h5 {
    font-family: $open-sans;
    font-size: $large;
    font-weight: $bold;
    color: black;
    padding-top: 10px;
  }

  p {
    font-family: $roboto;
    font-size: $small;
    font-weight: 300;
    color: $gray;
    padding-top: 10px;
  }

}
