.perfil-cover__img {
  width: 50%;
  border-radius: 50%;
}

.perfil-info {
  padding-top: 10px;
  margin-left: -90px;

  h5 {
    font-family: $open-sans;
    font-size: $large;
    font-weight: $bold;
    color: black;
  }

  p {
    font-family: $roboto;
    font-size: $small;
    font-weight: 300;
    color: $gray;
  }
}

@media only screen and (max-width: 375px) {
  body {
    margin: 0 auto;
    background-color: $white;
  }

  main {
    margin: 0;
    display: inline-block;
    align-content: center;
  }

  .perfil-cover__img {
    width: 50%;
    border-radius: 50%;
    align-content: center;
  }

  .perfil-info {
    padding-top: 10px;
    margin-left: -90px;
    align-content: center;

    h5 {
      font-family: $open-sans;
      font-size: $large;
      font-weight: $bold;
      color: black;
      align-content: center;
    }

    p {
      font-family: $roboto;
      font-size: $small;
      font-weight: 300;
      color: $gray;
      align-content: center;
    }
  }
}
