.second-main {
  margin: 40px;

  h3 {
    font-family: $open-sans;
    font-weight: $bold;
    font-size: $large;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  h5 {
    font-family: $open-sans;
    font-size: $medium;
    font-weight: $bold;
    color: black;
    padding-top: 30px;
  }

  small {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $small;
    color: $gray;
    padding-bottom: 20px;
  }

  img {
  width: 90%;
  background-size: cover;
  margin: 0 10px;
  }
}
